<%= simple_nested_form_for(@cocktail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inline" style="margin-top: 10px;">
    <%= f.input :name, label: "Name: " %>
  </div>


    <%= f.simple_fields_for :doses do |dose| %>
      <%= render 'doses_fields', dose: dose, cid: @cocktail.id %>
    <% end %>

  <p><%= f.link_to_add "Add Ingredient", :doses %></p>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
