<p id="notice"><%= notice %></p>

<h1>Cocktails</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>

      <div class="col-xs-12 col-sm-4" style="margin: 20px, 0;">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>');">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
            <p style="color: white;">Great for Summer.</p>
          </div>
          <%= link_to "", cocktail, class: "card-link" %>
        </div>
      </div>
    <% end %>
<div class="col-xs-12 col-sm-4" style="margin: 20px, 0;">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(<%= asset_path 'margarita.jpg' %>);">
          <div class="card-description">
            <h2>Add a New Cocktail</h2>
          </div>
          <%= link_to "", new_cocktail_path, class: "card-link" %>
        </div>
      </div>
    </div>
