<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" style="margin-top: 10px;">
    <%= f.input :name %>
    <%= f.input :date %>
    <%= f.input :location %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
